<div style="font-size: 2em">
  <label>Java</label>
  <button (click)="getJavaF()">Funktional</button>
  <button (click)="getJavaR()">Reaktiv</button>
  <button (click)="getJavaMW()">Moving Window</button>
  <p>
    Min: {{response.min}} byte, Max: {{response.max}} byte, Avg: {{response.avg}} byte
  </p>
</div>

<div style="font-size: 2em">
  <label>Scala</label>
  <button (click)="getScala()">Funktional - Client</button>
  <button (click)="getScala2()">Funktional - Service</button>
  <p>
    Min: {{response[0]}} byte, Max: {{response[1]}} byte, Avg: {{response[2]}} byte
  </p>
</div>

<div style="font-size: 2em">
  <label>Timer</label>
  <p>
    {{time}} ms
  </p>
</div>
